<!DOCTYPE html>
<html>

<head>

<title>Secure Web Application</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark" style="background:#E91E63;">

    <div class="container">

        <a class="navbar-brand fw-bold" href="/">
            🌸 Secure Web App
        </a>

        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav">

            <span class="navbar-toggler-icon"></span>

        </button>

        <div class="collapse navbar-collapse" id="navbarNav">

            <ul class="navbar-nav ms-auto">

                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/register">Register</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>

            </ul>

        </div>

    </div>

</nav>
<div class="container mt-5">

<div class="card shadow-lg main-card">

<div class="card-header text-center">

<h2>

🌸 Secure Web Application

</h2>

</div>

<div class="card-body text-center">

<h3>

Cyber Security Project

</h3>

<p>

A Secure Web Application developed using Flask.

</p>

<a href="/register" class="btn pink-btn">

Register

</a>

<br><br>

<a href="/login" class="btn btn-outline-danger">

Login

</a>

</div>

</div>

</div>

<footer class="text-center mt-5 mb-3">

<hr>

<p style="color:#E91E63;">

🌸 Secure Web Application

<br>

Developed by Shreya Paul

<br>

© 2026

</p>

</footer></body>

</html>