<!DOCTYPE html>
<html>

<head>
    <title>Register</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background:#E91E63;">

    <div class="container">

        <a class="navbar-brand fw-bold" href="/">
            🌸 Secure Web App
        </a>

        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav">

            <span class="navbar-toggler-icon"></span>

        </button>

        <div class="collapse navbar-collapse" id="navbarNav">

            <ul class="navbar-nav ms-auto">

                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/register">Register</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>

            </ul>

        </div>

    </div>

</nav>
<div class="container mt-5">

    <div class="row justify-content-center">

        <div class="col-md-6">

            <div class="card shadow-lg main card">

                <div class="card-header text-white text-center">
                  <h2 class="title">
                         Create Account
                       </h2>
                        </div>

                <div class="card-body">

                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for category, message in messages %}
                               <div class="alert alert-{{ category }}">
    {{ message }}
</div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}

                    <form method="POST">

                        {{ form.hidden_tag() }}

                       <div class="mb-3">

    {{ form.username.label(class="form-label") }}

    {{ form.username(class="form-control") }}

    {% for error in form.username.errors %}
    <div class="text-danger mt-1">
            {{ error }}
        </div>
    {% endfor %}

</div>

                        <div class="mb-3">

    {{ form.email.label(class="form-label") }}

    {{ form.email(class="form-control") }}

    {% for error in form.email.errors %}
        <div class="text-danger mt-1">
            {{ error }}
        </div>
    {% endfor %}

</div>

                       <div class="mb-3">

    {{ form.password.label(class="form-label") }}

    <div class="input-group">

    {{ form.password(class="form-control", id="password") }}

    <button
        class="btn btn-outline-secondary"
        type="button"
        onclick="togglePassword('password')">

        👁

    </button>

</div>

    <div class="mt-2">

    <small id="length" class="text-danger">
        ❌ At least 8 characters
    </small><br>

    <small id="uppercase" class="text-danger">
        ❌ One uppercase letter
    </small><br>

    <small id="lowercase" class="text-danger">
        ❌ One lowercase letter
    </small><br>

    <small id="number" class="text-danger">
        ❌ One number
    </small><br>

    <small id="special" class="text-danger">
        ❌ One special character
    </small>

</div>

    {% for error in form.password.errors %}
        <div class="text-danger mt-1">
            {{ error }}
        </div>
    {% endfor %}

<div class="mb-3">

    {{ form.confirm_password.label(class="form-label") }}

    <div class="input-group">

    {{ form.confirm_password(class="form-control", id="confirmPassword") }}

    <button
        class="btn btn-outline-secondary"
        type="button"
        onclick="togglePassword('confirmPassword')">

        👁

    </button>

</div>

    <small id="passwordMessage"></small>

    {% for error in form.confirm_password.errors %}
        <div class="text-danger mt-1">
            {{ error }}
        </div>
    {% endfor %}

</div>

                        <div class="d-grid">
                           {{ form.submit(class="btn pink-btn") }}
                        </div>

                    </form>

                    <hr>

                    <p class="text-center">
                        <p class="text-center mt-3">

                         Already have an account?
                         <a href="/login" class="login-link">

                              Login

                               </a>

                           </p>
                    </p>

                </div>

            </div>

        </div>

    </div>

</div>

<script>

const password = document.getElementById("password");
const confirmPassword = document.getElementById("confirmPassword");
const message = document.getElementById("passwordMessage");

function checkPassword(){

    if(confirmPassword.value===""){
        message.innerHTML="";
        confirmPassword.classList.remove("is-valid");
        confirmPassword.classList.remove("is-invalid");
        return;
    }

    if(password.value===confirmPassword.value){

        message.innerHTML="✅ Passwords match";

        message.style.color="green";

        confirmPassword.classList.remove("is-invalid");

        confirmPassword.classList.add("is-valid");

    }

    else{

        message.innerHTML="❌ Passwords do not match";

        message.style.color="red";

        confirmPassword.classList.remove("is-valid");

        confirmPassword.classList.add("is-invalid");

    }

}
function checkStrength(){

    let value = password.value;

    updateRule("length", value.length >= 8);

    updateRule("uppercase", /[A-Z]/.test(value));

    updateRule("lowercase", /[a-z]/.test(value));

    updateRule("number", /[0-9]/.test(value));

    updateRule("special", /[!@#$%^&*(),.?":{}|<>]/.test(value));

}

function updateRule(id, passed){

    let item = document.getElementById(id);

    if(passed){

        item.classList.remove("text-danger");

        item.classList.add("text-success");

        item.innerHTML = item.innerHTML.replace("❌","✅");

    }

    else{

        item.classList.remove("text-success");

        item.classList.add("text-danger");

        item.innerHTML = item.innerHTML.replace("✅","❌");

    }

}
password.addEventListener("keyup",function(){

    checkPassword();

    checkStrength();

});

confirmPassword.addEventListener("keyup",checkPassword);


function togglePassword(id){

    let input = document.getElementById(id);

    if(input.type === "password"){

        input.type = "text";

    }

    else{

        input.type = "password";

    }

} </script>
<footer class="text-center mt-5 mb-3">

<hr>

<p style="color:#E91E63;">

🌸 Secure Web Application

<br>

Developed by Shreya Paul

<br>

© 2026

</p>

</footer>
</body>

</html>